@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --iriscolor: #4d5ae5; 
    --navyblue: #2e2f42;
    --navcolor: black;
    --oceancolor: #404bbf;
    --whitecolor: white;
    --slatecolor: #434455;
    --cornflower: #e7e9fc;
    --cloudcolor: #f4f4fd;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.link-logo {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.web-logo {
    color: var(--iriscolor);
}

.studio-logo {
    color: var(--navyblue);
}

.pages {
    text-decoration: none;
    color: var(--navyblue);
    font-weight: 500;
}

.pages:hover,
.pages:focus{
    color: var(--oceancolor);
}

.currentoption {
    color: var(--oceancolor);
}

.contacts {
    color: var(--slatecolor);
    text-decoration: none;
}

.contacts:hover,
.contacts:focus {
    color: var(--oceancolor);
}

.lists {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: var(--navyblue);
}

.hero-title {
    color: var(--whitecolor);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.order-button {
    cursor: pointer;
    background-color: var(--iriscolor);
    color: var(--whitecolor);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.order-button:hover, 
.order-button:focus {
    color: var(--whitecolor);
    background-color: var(--oceancolor, #05092f);
}

.section2 {
    background-color: var(--whitecolor);
}

.criteria-title {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.criteria-description {
    color: var(--slatecolor);
}

.section3 {
    background-color: var(--whitecolor);
}

.section-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.section4 {
    background-color: var(--cloudcolor);
}

.team-name {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 0.4px;
}

.team-position {
    color: var(--slatecolor);
}

.portfolio-page{
    background-color: var(--whitecolor);
}

.btn-filter {
    cursor: pointer;
    background-color: var(--cloudcolor);
    color: var(--iriscolor);
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
}

.btn-filter:hover,
.btn-filter:focus {
    color: var(--cloudcolor);
    background-color: var(--oceancolor, #05092f);
    border-color: var(--oceancolor, #05092f);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.active-filter {
    color: var(--whitecolor);
    background-color: var(--oceancolor, #05092f);
    border-color: var(--oceancolor, #05092f);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-title {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.portfolio-description {
    color: var(--slatecolor);
}

.footer {
    background-color: var(--navyblue);
}

.studio-logo2{
    color: var(--cloudcolor);
}

.lastword {
    color: var(--cloudcolor);
}